replicaCount: 1

image:
  repository: registry.gitlab.com/onegreyonewhite/werf-operator
  pullPolicy: Always
  tag: latest

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: "werf-operator"

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

# Operator settings
verbose: false

env: {}
